# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/

# Virtualenv
venv/
ENV/
env/

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Google Cloud credentials
*.json
cron_tasks/*.json

# Docker
*.pid
docker-compose.override.yml

# Миграции теперь не игнорируются
*/migrations/*
!*/migrations/__init__.py
